.App {
  text-align: center;
  display: block;
  align-items: center;
  position: relative;
  background-color: rgb(245 245 244);
}

.App .header-text {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  text-align: left;
  font-size: large;
  margin-left: 20rem;
}

.search-select {
  width: 13rem;
  height: 2.5rem;
  margin-right: 18rem;
  margin-top: 0.6rem;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px grey;
  text-align: center;
}

.container-div {
  background-color: white;
  width: 55rem;
  height: 4rem;
  margin-left: 23%;
  margin-top: 2%;
  padding: 1rem 0 0 0;
  border-radius: 1rem;
}

.container-div button {
  height: 3.2rem;
  width: 7rem;
  margin-left: 1px;
  background-color: rgb(67 56 202);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: .7rem;
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgb(55 48 163);
}

.container-div select {
  height: 3.1rem;
  width: 9rem;
  margin-right: 28px;
  border-radius: 2px;
  border: none;
  color: black;
  border-right: 1px solid rgb(212 212 212);
  opacity: 0.8;
  font-weight: 700;
}

.container-div select option {
  text-align: left;
  background-color: rgb(212 212 212);
  border: none;
}

.container-div input {
  height: 3rem;
  border: none;
  margin-right: 5px;
  border-radius: 3px;
  margin-top: 1.5rem;
  border-right: 2px black;
}